@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: var(--bp-black);
  --background: var(--bp-white);
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: var(--font-inter);
}
